In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.rand(10, 5))

In [4]:
df['mean'] = df.mean(1)
df

          0         1         2         3         4      mean
0  0.175475  0.655910  0.495329  0.237629  0.326869  0.378242
1  0.572145  0.064537  0.037715  0.830861  0.361487  0.373349
2  0.935466  0.609694  0.974560  0.060514  0.308678  0.577782
3  0.719115  0.065270  0.877036  0.406945  0.799759  0.573625
4  0.834540  0.451784  0.156512  0.312368  0.929743  0.536989
5  0.439718  0.809789  0.370097  0.088090  0.515200  0.444579
6  0.251631  0.246585  0.697826  0.133526  0.254329  0.316780
7  0.027758  0.608432  0.892810  0.650537  0.862854  0.608478
8  0.901604  0.421673  0.685517  0.791718  0.981642  0.756431
9  0.594679  0.112020  0.123470  0.254358  0.530159  0.322937

In [5]:
cols = df.columns.tolist()

In [6]:
cols

[0, 1, 2, 3, 4, 'mean']

In [10]:
cols = cols[-1:] + cols[:-1]
cols

[3, 4, 'mean', 0, 1, 2]

In [13]:
df = df[cols]  #    OR    df = df.ix[:, cols]
df

          3         4      mean         0         1         2
0  0.237629  0.326869  0.378242  0.175475  0.655910  0.495329
1  0.830861  0.361487  0.373349  0.572145  0.064537  0.037715
2  0.060514  0.308678  0.577782  0.935466  0.609694  0.974560
3  0.406945  0.799759  0.573625  0.719115  0.065270  0.877036
4  0.312368  0.929743  0.536989  0.834540  0.451784  0.156512
5  0.088090  0.515200  0.444579  0.439718  0.809789  0.370097
6  0.133526  0.254329  0.316780  0.251631  0.246585  0.697826
7  0.650537  0.862854  0.608478  0.027758  0.608432  0.892810
8  0.791718  0.981642  0.756431  0.901604  0.421673  0.685517
9  0.254358  0.530159  0.322937  0.594679  0.112020  0.123470